* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: NeutralFace;
  src: url(NeutralFace.otf);
}
@font-face {
  font-family: NT;
  src: url(NT.otf);
}





body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.page1 {
  font-family: NeutralFace;
}
.nav {
  font-family: NeutralFace;
}

.page2 h1 {
  font-family: NeutralFace;
}
.para {
  font-family: NeutralFace;
}
.left-down {
  font-family: NeutralFace;
}
.build {
  font-family: NT;
}
.cont-p {
  font-family: NT;
}
.cont-p1 {
  font-family: NT;
}

/* #navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
} */

#navbar, #nav-cont, #para, #icons,#card {
  display: none; 

}

.conner{
  border-bottom-right-radius:30px ;
  width: 40px;
  height: 40px;
  background-color:transparent;
  margin: 20px;
  box-shadow: 13px 9px black;

  

  
}
.conner1{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-bottom-right-radius:30px ;
  box-shadow: 13px 15px black;

}
 
